.wrapper {
    background: rgb(251, 251, 120);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 80vh;
    border-radius: 40px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.616);
}
h2 {
    text-align: center;
    margin-top: 1.5em;
    font-size: 2em;
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Annie Use Your Telescope', cursive;
}
