li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}
.buttons {
    display: flex;
}
.editTaskInput {
    position: absolute;
    padding: 3px 3px 3px 10px;
    font-size: 1em;
    font-family: 'Annie Use Your Telescope', cursive;
    border: 1px solid black;
    top: 0%;
}
